FCC_Task/FCC_ClientApp/FCC_ClientApp/Service References/WCFServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FCC_RestService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FCC_RestService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LANG_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="SUBSCRIPTION_TYPE_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" type="xs:boolean" />
      <xs:element minOccurs="0" name="PRODUCTID" type="xs:int" />
      <xs:element minOccurs="0" name="PRODUCT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODUCT_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QUANTITY" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Customer_Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="BALANCE_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="BOUGHT_QTY" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMER_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMER_PRODUCT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="PRODUCTID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer_Product" nillable="true" type="tns:Customer_Product" />
  <xs:complexType name="ArrayOfBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Balance" nillable="true" type="tns:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalance" nillable="true" type="tns:ArrayOfBalance" />
  <xs:complexType name="Balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance_Qty" type="xs:int" />
      <xs:element minOccurs="0" name="Bought_Qty" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Balance" nillable="true" type="tns:Balance" />
</xs:schema>